/// Base
///
/// @author IssaKass

:root {
	@each $color, $shades in $colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	@each $size, $value in $font-sizes {
		--fs-#{$size}: #{$value};
	}

	@each $weight, $value in $font-weights {
		--fw-#{$weight}: #{$value};
	}

	@each $family, $value in $font-families {
		--ff-#{$family}: #{$value};
	}

	@each $z-index, $value in $z-indexes {
		--z-#{$z-index}: #{$value};
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
	user-select: none;
	-webkit-user-drag: none;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--clr-neutral-400);
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

html {
	color-scheme: light;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	color: var(--clr-neutral-400);
	background-color: var(--clr-neutral-900);
	font-family: var(--ff-base);
	font-size: var(--fs-h6);
	font-weight: var(--fw-regular);
	line-height: 1.7;

	@media (min-width: 1400px) {
		height: 100vh;
		overflow: hidden;
	}
}

::-webkit-scrollbar {
	width: 0.5em;
	background-color: var(--clr-neutral-800);

	&-thumb {
		background-color: var(--clr-primary-500);
		border-radius: 100vmax;

		&:hover {
			background-color: var(--clr-primary-600);
		}
	}
}

::selection {
	background-color: var(--clr-primary-600);
	color: var(--clr-neutral-100);
}

.page {
	display: flex;
	gap: 2em;

	@media (max-width: 1399px) {
		flex-direction: column;
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

.settings-btn {
	$size: 2.25em;

	width: $size;
	height: $size;
	position: fixed;
	font-size: var(--fs-h6);
	top: 40px;
	left: 0;
	@extend %transition;
	z-index: var(--z-settings-btn);

	&:hover {
		padding-left: 1em;
		width: $size + 1em;
		.icon {
			@include x-animation(rotating 2s infinite linear);
		}
	}
}
