/// Colors
///
/// @author IssaKass

$colors: (
	primary: (
		500: hsl(151, 81%, 54%),
		600: hsl(151, 81%, 42%),
	),
	neutral: (
		100: hsl(0, 0%, 100%),
		400: hsl(0, 0%, 60%),
		600: hsl(0, 0%, 34%),
		800: hsl(0, 0%, 12%),
		900: hsl(0, 0%, 0%),
	),
);
